<div class="asset-chooser">
	<div class="asset-topbar">
		<div class="actions">
			<a href="#" class="close icon asset-icon"><span class="hidden">{{Lang 'Close'}}</span></a>
			<a href="#" class="add button">{{Lang 'Add Asset'}}</a>
			<a href="#" class="select button">{{Lang 'Use Selected'}}</a>

		</div>
		<h2>{{Lang 'Select an Asset'}}</h2>
	</div>
	<div class="asset-drop">
		<form action="{{upload_url}}" id="asset-dropzone" method="post" enctype="multipart/form-data">
			<div class="fallback">
			    <input name="file" type="file" multiple />
			    <input type="submit" value="{{Lang 'Upload'}}" />
			 </div>
		</form>
	</div>
	<div class="asset-field">
		<div id="asset-filter" class="asset-filter">

		</div>
		<div class="inner">

		</div>
	</div>
</div>